---
import Layout from '../layouts/Layout.astro'

Astro.response.headers.set('Vercel-CDN-Cache-Control', 'max-age=3600')
Astro.response.headers.set('CDN-Cache-Control', 'max-age=3600')
Astro.response.headers.set('Cache-Control', 'max-age=3600')
---

<Layout title='Lina & Victor'>
  <main>
    <h1>Invitado no encontrado</h1>
  </main>
</Layout>

<style>
  main {
    display: grid;
    min-height: 100svh;
    place-content: center;
    padding: 1rem;
  }
</style>
