---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Lina & Victor'>
  <main>
    <h1>Invitado no encontrado</h1>
  </main>
</Layout>

<style>
    main {
        display: grid;
        min-height: 100svh;
        place-content: center;
    }
</style>