---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Details from '../components/Details.astro'
import RSVP from '../components/RSVP.astro'
import Gifts from '../components/Gifts.astro'
import FAQs from '../components/FAQs.astro'

import invitees from '../data/invitees.json'

const { slug } = Astro.params

let invitee = invitees.find((_invitee) => {
  return _invitee.slug === slug
})

if (slug === undefined) {
  invitee = { name: '', slug: '' }
}

if (!invitee) {
    return Astro.redirect('/404', 404)
}
---

<Layout title='Lina & Victor'>
  <main>
    <Hero name={invitee.name} />
    <Details />
    <FAQs />
    <Gifts />
    <RSVP
      slug={invitee.slug}
      name={invitee.name}
    />
  </main>
</Layout>

<style>
  main {
    padding: 2rem;
    max-width: 50rem;
    margin-inline: auto;
    display: grid;
    gap: 3rem;
    text-align: left;
  }
</style>
