---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Details from '../components/Details.astro';
import RSVP from '../components/RSVP.astro';
import Gifts from '../components/Gifts.astro';
import FAQs from '../components/FAQs.astro';


const { slug, name } = Astro.props;

export const partial = true;
---

<Layout title="Lina y Victor">
    <main>
      <Hero name={name}/>
      <Details />
      <FAQs />
      <Gifts />
      <RSVP slug={slug} name={name}/>
    </main>
  </Layout>
  
  <style>
    main {
      padding: 2rem;
      max-width: 64rem;
      margin-inline: auto;
      display: grid;
      gap: 3rem;
      text-transform: uppercase;
  
    }
  </style>