---
const {} = Astro.props
---

<div class='gifts'>
  <h2 class='gifts__title heading-2'>Lista de regalos</h2>

  <p>
    Tu presencia es nuestro mayor regalo. Nos sentimos muy afortunados de poder
    compartir este día tan especial con nuestros seres queridos. Sin embargo, si
    deseas contribuir con la formación de nuestro hogar, puedes hacerlo a través
    de nuestras listas de regalo en <a href='#'>Casa Cuesta</a> o mediante transferencia
    bancaria:
  </p>

  <dl>
    <dt>BanReservas</dt>
    <dd>000000000 Victor Lantigua</dd>

    <dt>Popular</dt>
    <dd>000000000 Victor Lantigua</dd>

    <dt>BHD</dt>
    <dd>000000000 Lina Rodriguez</dd>
  </dl>
</div>

<style>


  p {
    margin-block-end: 1rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

  dt {
    font-weight: 700;
  }

  dd:not(:last-child) {
    margin-block-end: 1rem;
  }
</style>
