---
const {} = Astro.props
---

<div class="gifts">
    <h2 class="gifts__title heading-2">Lista de regalos</h2>

    <p>Próximamente</p>

</div>


<style>
    .gifts {
        text-align: center;
    }
</style>